
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none; 
    
}

html {
scroll-behavior: smooth;
}

body{
    background: #4e0aae;
    font-family: "Courier Prime", monospace;     
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    color: whitesmoke; 
}

.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}

.hero h1 span{
    color: #ff2963;
}

textarea{
    width: 600px;
    height: 250px;
    background: #403d84;
    color: white;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;    
}

textarea::placeholder{
    font-size: 16px;
    color: #ddd;    
}

.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;    
}

button{
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;    
    align-items: center;
}

select{
    flex: 1;
    color: #fff;
    background: #403d84;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
}

@media only screen and (max-width: 890px) {
    body {
      width: auto;
    }
    .hero{
        width: auto;      
    }
    textarea{
        width: 80%;
        height: 250px;
    }
    .row{
        width: 80%;
    }
    .hero h1{
        padding-left: 1rem;
    }
}
